# NEXURA PRODUCTION CONFIG
JWT_SECRET=nexus_prime_core_secret
NODE_ENV=production
FIREBASE_ADMIN_CREDENTIALS=

# SUPABASE CONFIG (SQL DATABASE)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
REDIS_URL=redis://localhost:6379
